# TMDB API Key - Obligatoria.
# Solicitarla en https://www.themoviedb.org/settings/api
TMDB_API_KEY=046352b39a11ec018f54c9aa6ace4d6e

# PocketBase URL - Usada por el frontend para conectar al backend.
# (No es necesaria en produccion porque nginx proxy_pass maneja el ruteo)
# Desarrollo local: http://localhost:8090
# Produccion (Pacheco): http://pacheco.chillan.ubiobio.cl:8068
POCKETBASE_URL=http://localhost:8090

# Frontend URL - Usada para generar links en emails (verificacion, restablecimiento).
# ⚠ CAMBIAR a la URL de produccion antes de deployar.
# Desarrollo local: http://localhost:4200
# Produccion (Pacheco): http://pacheco.chillan.ubiobio.cl:8067
FRONTEND_URL=http://localhost:4200
